.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    margin-bottom: 1rem;
  }

  .container {
    padding: auto;
    width: 100%;
    align-content: center;
  }

  .flex {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .input input , select{
    width: 287px;
    padding: .88rem 0;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-bottom: 2.22rem;
    color: #010c3f;
    text-align: center;
    font-size: 1rem;
  }
  
  .input input:focus {
    outline: none;
  }
  
  .inputButton {
    cursor: pointer;
    width: 10rem;
    padding: 1rem;
    border-radius: 54px;
    background-color: #BBD237;
    text-align: center;
    font-size: 1rem;
    transition: background-color .25s;
    border: 0px;
    color: #fff;
    font-weight: 500;
  }
  
  .inputButton:hover {
    background-color: #7c8b25;
  }

  h2 {
    color: #BBD237;
  }

  @media only screen and (max-width: 1020px) {
    .container {
      align-items: center;
      flex-direction: column;
    }
    .input {
      margin: 10px;
      margin-bottom: 0px;
      padding: 10px;
    }
  }